<footer class="main-footer bg-primary pt-4">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-4">
                <div class="footer-info">
                    <h3 class="text-white" data-animate="fadeInUp" data-delay="0">About Us</h3>
                    <p data-animate="fadeInUp" data-delay=".05">We are here to you how all this mistaken idea of
                        denouncing pleasure itself, because it is pleasure, but because those who do not know how to
                        pursue pleasure rationally encounter consequences that are extremely painful.</p>
                    <ul class="footer-contacts list-unstyled">
                        <li data-animate="fadeInUp" data-delay=".1"> <i class="fas fa-phone"></i> <a
                                href="tel:+9876543210">(+9) 876-543-210</a>, <a href="tel:+123456789">(+1)
                                234-567-890</a></li>
                        <li data-animate="fadeInUp" data-delay=".15"> <i class="fas fa-envelope"></i> <a
                                href="mailto:info.vpnet@yourmail.com">info.vpnet@yourmail.com</a></li>
                        <li data-animate="fadeInUp" data-delay=".2"> <i class="fas fa-map-marker-alt"></i>
                            <span>4749 West Street, Stadium Para, Maijdee Court, Noakhali-3800, Bangladesh</span>
                        </li>
                    </ul>
                    <ul class="social-links list-inline mb-0">
                        <li data-animate="fadeInUp" data-delay=".25"><a href="#" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li data-animate="fadeInUp" data-delay=".3"><a href="#" target="_blank"><i
                                    class="fab fa-twitter"></i></a></li>
                        <li data-animate="fadeInUp" data-delay=".35"><a href="#" target="_blank"><i
                                    class="fab fa-google-plus-g"></i></a></li>
                        <li data-animate="fadeInUp" data-delay=".4"><a href="#" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                        <li data-animate="fadeInUp" data-delay=".45"><a href="#" target="_blank"><i
                                    class="fas fa-rss"></i></a></li>
                        <li data-animate="fadeInUp" data-delay=".5"><a href="#" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-posts">
                    <h3 class="text-white" data-animate="fadeInUp" data-delay=".5">Latest News/Blogs</h3>
                    <div class="single-footer-post clearfix" data-animate="fadeInUp" data-delay=".55">
                        <a href="#" class="float-left"> <img src="img/posts/post-t.png" alt=""> </a> <span>Posted on
                            <a href="#">Jan 19, 2017</a></span>
                        <h4 class="cabin font-weight-normal"><a href="#">In major hiring push web hosting</a></h4>
                        <p>Expand its civil service aviations web hosting powerhouse go daddy.</p>
                    </div>
                    <div class="single-footer-post clearfix" data-animate="fadeInUp" data-delay=".6">
                        <a href="#" class="float-left"> <img src="img/posts/post-t2.png" alt=""> </a> <span>Posted
                            on <a href="#">Jan 19, 2017</a></span>
                        <h4 class="cabin font-weight-normal"><a href="#">Lorem ipsum dolor sit consectetur.</a></h4>
                        <p>Expand its civil service aviations web hosting powerhouse go daddy.</p>
                    </div> <a href="blog.html" class="roboto text-uppercase" data-animate="fadeInUp"
                        data-delay=".65">View All Blog Posts <i class="fas fa-caret-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-newsletter">
                    <h3 class="text-white" data-animate="fadeInUp" data-delay=".65">Newsletter</h3>
                    <p data-animate="fadeInUp" data-delay=".7">In major hiring push, web hosting powerhouse go daddy
                        to expand its civil service aviations</p>
                    <form
                        action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d"
                        method="post" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="form-group" data-animate="fadeInUp" data-delay=".75">
                            <input class="form-control" type="email" name="EMAIL"
                                placeholder="Enter Your E-mail Address" required>
                        </div>
                        <div class="subscribe-submit form-group clearfix mb-0" data-animate="fadeInUp" data-delay=".8">
                            <button class="btn btn-primary btn-square float-left" type="submit">Subscribe</button>
                            <span>Don’t worry! <br>Your e-mail won’t be published.</span></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-5 order-last order-md-first">
                    <p class="copyright" data-animate="fadeInDown" data-delay=".85">&copy; Copyright 2018 <a
                            href="#">VPNet.com</a></p>
                </div>
                <div class="col-md-7 order-first order-md-last">
                    <ul class="footer-menu list-inline text-md-right mb-md-0" data-animate="fadeInDown"
                        data-delay=".95">
                        <li><a href="#">Afilliate</a></li>
                        <li>|</li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li>|</li>
                        <li><a href="#">Termns & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="back-to-top">
    <a href="#"> <i class="fas fa-arrow-up"></i></a>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    FontAwesomeConfig = {
        searchPseudoElements: true
    };
</script>
<script src="js/fontawesome-all.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="plugins/js/typed.min.js"></script>
<script src="plugins/js/jquery.waypoints.min.js"></script>
<script src="plugins/js/sticky.min.js"></script>
<script src="plugins/js/swiper.min.js"></script>
<script src="plugins/js/particles.min.js"></script>
<script src="plugins/js/particles.settings.js"></script>
<script src="plugins/js/jquery.magnific-popup.min.js"></script>
<script src="plugins/js/parsley.min.js"></script>
<script src="plugins/js/parallax.min.js"></script>
<script src="plugins/js/color-switcher.js"></script>
<script src="plugins/js/retina.min.js"></script>
<script src="js/menu.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/custom.js"></script>