<!DOCTYPE html>
<html lang="en">
<% include layouts/meta %>

<head>

</head>

<body>
    <div class="preLoader"></div>
    <% include layouts/header %>

    <section class="position-relative bg-light pt-4 pb-4">
        <div id="particles_js"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 data-animate="fadeInUp" data-delay="1.2">We give best and make sure we deliver best.</h1>
                        <h2 data-animate="fadeInUp" data-delay="1.3"><span class="typed"></span></h2>
                        <ul class="list-inline" data-animate="fadeInUp" data-delay="1.4">
                            <li><a href="#" class="btn btn-primary">Explore Us</a></li>
                            <li><a href="/team" class="btn">Our creative team<i class="fas fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="banner-image"> <img src="img/slide.png" alt="" data-animate="fadeInUp" data-delay="1.5"
                            data-depth="0.2"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-7 pb-5-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".1"> <img
                            src="img/icons/vpn.svg" alt="" data-no-retina class="svg">
                        <h3>Fast VPN Without Third Parties</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".3"> <img
                            src="img/icons/support.svg" alt="" data-no-retina class="svg">
                        <h3>24/7/365 Technical Support</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".5"> <img
                            src="img/icons/guarantee.svg" alt="" data-no-retina class="svg">
                        <h3>30 Days Money Back Guarantee</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="services-title position-relative pt-7" data-bg-img="img/buildings.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section-title text-center">
                            <h2 class="text-white" data-animate="fadeInUp" data-delay=".1">Why You Need Our Service</h2>
                            <p class="text-white" data-animate="fadeInUp" data-delay=".3">Rumsan Tech is more than just
                                a software company. Our creative experts study your business needs and design and
                                develop
                                applications tailored to your IT needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-wrap bg-white position-relative pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".05"> <img
                                src="https://assets.rumsan.com/rumsan-test/programming.svg"
                                alt="build websites in nepal" data-no-retina class="svg">
                            <h4>Web Design & Development</h4> <span>We skill on making web presence of our customers
                                with least issues and costs.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".1"> <img
                                src="https://assets.rumsan.com/rumsan-test/domainregistration.svg"
                                alt="register domain in nepal" data-no-retina class="svg">
                            <h4>Domain Registration & Web Hosting</h4> <span>We provide platform to Register and host
                                your site on our dependable servers.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".15"> <img
                                src="https://assets.rumsan.com/rumsan-test/seo.svg"
                                alt="search engine optimization in nepal" data-no-retina class="svg">
                            <h4>Search Engine Optimization (SEO)</h4> <span>We advance your site to ensure that your
                                business will look from top of all web engines.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".2"> <img
                                src="https://assets.rumsan.com/rumsan-test/content-writing.svg" alt="" data-no-retina
                                class="svg">
                            <h4>Web Content Writing</h4> <span>Our skillful content writers provide beautiful contents
                                for your websites.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".25"> <img
                                src="https://assets.rumsan.com/rumsan-test/web-applications.svg" alt="" data-no-retina
                                class="svg">
                            <h4>Full Stack Web App</h4> <span>We use cutting-edge MERN stack to build web applications
                                that are rich with API and are fully integrated with external services.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".3"> <img
                                src="https://assets.rumsan.com/rumsan-test/mobile-app.svg" alt="" data-no-retina
                                class="svg">
                            <h4>Mobile App</h4> <span>Our mobile application development program utilizes platform
                                agnostic designs that can work with various mobile platforms.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".35"> <img
                                src="https://assets.rumsan.com/rumsan-test/kyc.svg" alt="" data-no-retina class="svg">
                            <h4>Offshore KYC Service</h4> <span>We provide low cost high quality KYC services that
                                includes data
                                entry, document validation and screening services.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".4"> <img
                                src="https://assets.rumsan.com/rumsan-test/odk-applications.svg" alt="" data-no-retina
                                class="svg">
                            <h4>ODK Applications</h4> <span>We develop systems that
                                utilize Open Data Kit. The system features efficient data collection modules and
                                analytics.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".45"> <img
                                src="https://assets.rumsan.com/rumsan-test/quality-assurance.svg" alt="" data-no-retina
                                class="svg">
                            <h4>QA Services</h4> <span>Remote low cost Quality Assurance services for software
                                development and client due diligence.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".5"> <img
                                src="https://assets.rumsan.com/rumsan-test/graphic-design.svg" alt="" data-no-retina
                                class="svg">
                            <h4>Graphic Design / Branding</h4> <span>Our innovative hands mixes your creative mind with
                                all imagination on designs and visual abilities.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".55"> <img
                                src="https://assets.rumsan.com/rumsan-test/social-media-marketing.svg" alt=""
                                data-no-retina class="svg">
                            <h4>Internet / Social Media Marketing</h4> <span>Our relentless web promoting procedure
                                associates our customers with their esteemed clients.</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-service" data-animate="fadeInUp" data-delay=".6"> <img
                                src="https://assets.rumsan.com/rumsan-test/promotional-videos.svg" alt="" data-no-retina
                                class="svg">
                            <h4>Promotional Videos</h4> <span>Your business and thoughts get envisioned imaginatively in
                                order to clarify all your target and needs.</span>
                        </div>
                    </div>
                </div>
                <div class="roboto text-center font-weight-medium" data-animate="fadeInUp" data-delay=".65">
                    <p>If you have any questions in your mind, Just <a href="mailto:team@rumsan.com">click here</a> to
                        write or
                        you can
                        <br>Call to <a href="tel:+977 9801230044

                        ">+977 9801230044

                        </a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="pricing-plans pt-7 pb-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        <h2 data-animate="fadeInUp" data-delay=".1">Choose Your Pricing Plan</h2>
                        <p data-animate="fadeInUp" data-delay=".3">There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered by injected humour</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="pricing-features">
                        <h3 class="cabin" data-animate="fadeInUp" data-delay=".5">The features included with this
                            pricing plan. let’s see what features will you getting.</h3>
                        <ul class="list-unstyled list-item clearfix">
                            <li data-animate="fadeInUp" data-delay=".1"><i class="fas fa-check-circle"></i>No logs
                                policy</li>
                            <li data-animate="fadeInUp" data-delay=".15"><i class="fas fa-check-circle"></i>P2P allowed
                            </li>
                            <li data-animate="fadeInUp" data-delay=".2"><i class="fas fa-check-circle"></i>Onion Over
                                VPN</li>
                            <li data-animate="fadeInUp" data-delay=".25"><i class="fas fa-check-circle"></i>Amazing
                                Blazing speeds</li>
                            <li data-animate="fadeInUp" data-delay=".3"><i class="fas fa-check-circle"></i>Easy To use
                            </li>
                            <li data-animate="fadeInUp" data-delay=".35"><i class="fas fa-check-circle"></i>Paypal &
                                Bitcoin accepted</li>
                            <li data-animate="fadeInUp" data-delay=".4"><i class="fas fa-check-circle"></i>Global
                                network</li>
                            <li data-animate="fadeInUp" data-delay=".45"><i class="fas fa-check-circle"></i>Cancel
                                anytime anywhere</li>
                            <li data-animate="fadeInUp" data-delay=".5"><i class="fas fa-check-circle"></i>Friendly
                                customer support</li>
                            <li data-animate="fadeInUp" data-delay=".55"><i class="fas fa-check-circle"></i>Kill Switch
                                available</li>
                            <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-check-circle"></i>Unlimited
                                bandwidth</li>
                            <li data-animate="fadeInUp" data-delay=".65"><i class="fas fa-check-circle"></i>Double
                                encryption</li>
                        </ul> <a href="#" class="btn" data-animate="fadeInUp" data-delay=".7">View Payment Method <i
                                class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="pricing-slides text-center">
                        <div class="swiper-container pricing-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide single-pricing-slide">
                                    <div class="single-pricing-plan"> <img src="img/icons/startup.svg" alt=""
                                            data-no-retina class="svg">
                                        <h4>Startup</h4> <span class="time roboto">One Month Plan</span> <strong
                                            class="roboto">$8.99 <sub>/M</sub></strong>
                                        <p>Billed <span>$8.99</span> Per Moth
                                            <br>30 Days Money Back Guarantee</p> <a href="#" class="btn btn-primary">Get
                                            This Plan</a>
                                    </div>
                                </div>
                                <div class="swiper-slide single-pricing-slide">
                                    <div class="single-pricing-plan"> <img src="img/icons/enterprise.svg" alt=""
                                            data-no-retina class="svg">
                                        <h4>Enterprise</h4> <span class="time roboto">Two Years Plan</span> <strong
                                            class="roboto">$4.75 <sub>/M</sub></strong>
                                        <p>Billed <span>$114</span> Per Moth
                                            <br>30 Days Money Back Guarantee</p> <a href="#" class="btn btn-primary">Get
                                            This Plan</a>
                                    </div>
                                </div>
                                <div class="swiper-slide single-pricing-slide">
                                    <div class="single-pricing-plan"> <img src="img/icons/bandwidth.svg" alt=""
                                            data-no-retina class="svg">
                                        <h4>Standard</h4> <span class="time roboto">One Year Plan</span> <strong
                                            class="roboto">$6.49 <sub>/M</sub></strong>
                                        <p>Billed <span>$77.88</span> Per Moth
                                            <br>30 Days Money Back Guarantee</p> <a href="#" class="btn btn-primary">Get
                                            This Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination pricing-pagination position-static"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-7 pb-7 bg-light">
        <div class="container">
            <div class="section-title text-center">
                <h2 data-animate="fadeInUp" data-delay=".1">What client’s say about us</h2>
            </div>
            <div class="swiper-container review-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide single-review-slide">
                        <h4>Marsha C. Meyer <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></h4>
                        <span>Melbourne, Australia</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                            born and I will give complete account of the system, and expound the actual teachings of
                            happiness. No one rejects, dislikes, or avoids.</p>
                    </div>
                    <div class="swiper-slide single-review-slide">
                        <h4>Bns H. Jabed <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></h4>
                        <span>Noakhali, Bangladesh</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                            born and I will give complete account of the system, and expound the actual teachings of
                            happiness. No one rejects, dislikes, or avoids.</p>
                    </div>
                    <div class="swiper-slide single-review-slide">
                        <h4>Cathy S. Knight <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></h4>
                        <span>California, United States</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                            born and I will give complete account of the system, and expound the actual teachings of
                            happiness. No one rejects, dislikes, or avoids.</p>
                    </div>
                    <div class="swiper-slide single-review-slide">
                        <h4>Cathy S. Knight <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></h4>
                        <span>California, United States</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                            born and I will give complete account of the system, and expound the actual teachings of
                            happiness. No one rejects, dislikes, or avoids.</p>
                    </div>
                    <div class="swiper-slide single-review-slide">
                        <h4>Cathy S. Knight <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></h4>
                        <span>California, United States</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                            born and I will give complete account of the system, and expound the actual teachings of
                            happiness. No one rejects, dislikes, or avoids.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination review-pagination position-static"></div>
        </div>
    </section>
    <section class="pt-7 pb-7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4 d-none d-md-block">
                    <div class="text-center" data-animate="fadeInUp" data-delay=".1"> <img src="img/mobile.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="app-info">
                        <h2 data-animate="fadeInUp" data-delay=".1">Download Your Application</h2>
                        <p data-animate="fadeInUp" data-delay=".3">Sed ut perspiciatis unde omnis iste natus error sit
                            voluptatem accusantium inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem</p>
                        <ul class="apps-list list-inline">
                            <li data-animate="fadeInUp" data-delay=".5">
                                <a href="#"><img src="img/play-store.png" alt=""></a>
                            </li>
                            <li data-animate="fadeInUp" data-delay=".6">
                                <a href="#"><img src="img/app-store.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="servers pt-7 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="section-title">
                        <h2 data-animate="fadeInUp" data-delay=".1">865 Server In 197 Country</h2>
                        <p data-animate="fadeInUp" data-delay=".2">There are many variations of passages of Lorem Ipsum
                            ailable, but the majority have suffered hmour</p>
                    </div>
                    <ul class="data-centers list-unstyled list-item clearfix">
                        <li data-animate="fadeInUp" data-delay=".1"><i class="fas fa-caret-right"></i>North America
                            (201)</li>
                        <li data-animate="fadeInUp" data-delay=".2"><i class="fas fa-caret-right"></i>South America
                            (169)</li>
                        <li data-animate="fadeInUp" data-delay=".3"><i class="fas fa-caret-right"></i>Europe (151)</li>
                        <li data-animate="fadeInUp" data-delay=".4"><i class="fas fa-caret-right"></i>Australia/Oceania
                            (142)</li>
                        <li data-animate="fadeInUp" data-delay=".5"><i class="fas fa-caret-right"></i>Asia (70)</li>
                        <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-right"></i>Africa (40)</li>
                    </ul> <a href="#" class="btn server-btn" data-animate="fadeInUp" data-delay=".7">View Payment Method
                        <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                    <div class="server-map"> <img src="img/servers.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients-wrap pt-4 pb-4">
        <div class="container">
            <ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0">
                <li data-animate="fadeInUp" data-delay=".1">
                    <a href="#" target="_blank"><img src="img/brands/brand1.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".2">
                    <a href="#" target="_blank"><img src="img/brands/brand2.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".3">
                    <a href="#" target="_blank"><img src="img/brands/brand3.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".4">
                    <a href="#" target="_blank"><img src="img/brands/brand4.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".5">
                    <a href="#" target="_blank"><img src="img/brands/brand5.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".6">
                    <a href="#" target="_blank"><img src="img/brands/brand6.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".7">
                    <a href="#" target="_blank"><img src="img/brands/brand7.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".8">
                    <a href="#" target="_blank"><img src="img/brands/brand8.png" alt=""></a>
                </li>
                <li data-animate="fadeInUp" data-delay=".9">
                    <a href="#" target="_blank"><img src="img/brands/brand9.png" alt=""></a>
                </li>
            </ul>
        </div>
    </section>
    <% include layouts/footer %>
</body>

</html>